 
@model List<Categoria>  /*la lista de Categorias*/

<div class="text-center" id="tabla">
    <div >
        <h1 class="display-4">Lista de categorias</h1>
        <a href='@Url.Action("IrHome","Categorias")'>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="50" height="50" x="0" y="0" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g transform="matrix(-1.8369701987210297e-16,-1,1,-1.8369701987210297e-16,-2.842170943040401e-14,512)">
            <g xmlns="http://www.w3.org/2000/svg">
                <path style="" d="M236.662,337.591l-50.299,40.406c-1.229,0.988-1.944,2.479-1.944,4.054v124.736   c0,4.246,4.814,6.703,8.252,4.212l43.99-31.873V337.591H236.662z" fill="#ff4f19" data-original="#ff4f19"/>
                <path style="" d="M275.338,337.591l50.299,40.406c1.229,0.988,1.944,2.479,1.944,4.054v124.736   c0,4.246-4.814,6.703-8.252,4.212l-43.99-31.873L275.338,337.591L275.338,337.591z" fill="#ff4f19" data-original="#ff4f19"/>
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
                <path style="" d="M327.576,382.056v124.73c0,4.254-4.806,6.709-8.249,4.213l-13.273-9.622   c0.791-0.936,1.279-2.153,1.279-3.547V364.964c0-0.676-0.125-1.341-0.375-1.966l18.682,15   C326.868,378.987,327.576,380.474,327.576,382.056z" fill="#e23d17" data-original="#e23d17"/>
                <path style="" d="M184.419,382.056v124.73c0,4.254,4.806,6.709,8.249,4.213l13.273-9.622   c-0.791-0.936-1.279-2.153-1.279-3.547V364.964c0-0.676,0.125-1.341,0.375-1.966l-18.682,15   C185.127,378.987,184.419,380.474,184.419,382.056z" fill="#e23d17" data-original="#e23d17"/>
            </g>
            <path xmlns="http://www.w3.org/2000/svg" style="" d="M251.526,2.176L215.78,50.797c-2.59,3.523-0.074,8.495,4.298,8.495h35.746h35.746  c4.373,0,6.889-4.972,4.298-8.495L260.123,2.176C257.99-0.725,253.658-0.725,251.526,2.176z" fill="#b7c1ca" data-original="#b7c1ca"/>
            <path xmlns="http://www.w3.org/2000/svg" style="" d="M291.573,59.292h-16.64L242.237,14.82l9.289-12.642c2.131-2.901,6.465-2.902,8.598-0.001  l35.749,48.62C298.462,54.319,295.946,59.292,291.573,59.292z" fill="#a3aeb7" data-original="#a3aeb7"/>
            <rect xmlns="http://www.w3.org/2000/svg" x="236.663" y="59.292" style="" width="38.677" height="418.918" fill="#ffdba9" data-original="#ffdba9"/>
            <rect xmlns="http://www.w3.org/2000/svg" x="255.995" y="59.292" style="" width="19.338" height="418.918" fill="#ffc473" data-original="#ffc473"/>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            </g></svg>
        </a>
        <a href='@Url.Action("Crear","Categorias")' style="margin-bottom: 3px;">
            <svg height="50pt" viewBox="-106 0 504 504" width="50pt" xmlns="http://www.w3.org/2000/svg"><path d="m116 111.527344-16.007812 16.007812h.015624l-16.007812-16.007812v-56h32zm0 0" fill="#ed5565"/><path d="m100 172c-2.207031 0-4-1.792969-4-4v-112.480469c0-2.207031 1.792969-4 4-4s4 1.792969 4 4v112.480469c0 2.207031-1.792969 4-4 4zm0 0" fill="#ffd2a6"/><path d="m75.960938 135.550781-16.007813 16.007813h.015625l-16.007812-16.007813v-56h32zm0 0" fill="#ed5565"/><path d="m59.960938 196.023438c-2.207032 0-4-1.792969-4-4v-112.480469c0-2.207031 1.792968-4 4-4 2.207031 0 4 1.792969 4 4v112.480469c0 2.207031-1.792969 4-4 4zm0 0" fill="#ffd2a6"/><path d="m44.015625 468c-1.023437 0-2.046875-.390625-2.832031-1.167969-1.679688-1.679687-41.183594-42.375-41.183594-146.832031s39.503906-145.152344 41.183594-146.832031c1.570312-1.558594 4.097656-1.550781 5.648437 0 1.558594 1.550781 1.566407 4.089843.015625 5.648437-.390625.390625-38.847656 40.398438-38.847656 141.175782 0 101.167968 38.457031 140.785156 38.839844 141.167968 1.558594 1.558594 1.558594 4.097656 0 5.65625-.777344.792969-1.800782 1.183594-2.824219 1.183594zm0 0" fill="#844747"/><path d="m192.007812 499.992188c-2.207031 0-4-1.792969-4-4v-487.984376c0-2.207031 1.792969-4 4-4 2.207032 0 4 1.792969 4 4v487.984376c0 2.207031-1.792968 4-4 4zm0 0" fill="#e6e9ed"/><path d="m188 488h12v10h-12zm0 0" fill="#656d78"/><path d="m188 6h12v10h-12zm0 0" fill="#656d78"/><path d="m235.769531 400c5.671875-7.519531 11.191407-15.441406 16.230469-24 12.078125-20.640625 22.558594-48.398438 23.839844-80.320312l16.160156-6.160157c-.800781 110.800781-92 142.71875-92 198.480469h-12c0-12 3.28125-22.878906 8.558594-33.28125 6.640625-13.359375 16.5625-25.917969 26.800781-38.796875 4.082031-5.121094 8.242187-10.402344 12.410156-15.921875zm0 0" fill="#965353"/><path d="m292 289.519531-16.160156 6.160157c-5.046875-6-9.046875-12.878907-11.769532-20.398438-2.628906-7.28125-4.070312-15.121094-4.070312-23.28125s1.441406-16 4.160156-23.28125c2.640625-7.359375 6.488282-14.078125 11.359375-20l.328125-.398438 16.160156 6.167969c-9.839843 9.441407-16 22.800781-16 37.511719s6.152344 28.078125 15.992188 37.519531zm0 0" fill="#ed5565"/><path d="m275.839844 208.320312c-1.28125-33.601562-10.808594-58.960937-23.839844-80.320312-8.800781-14.800781-18.960938-27.679688-28.640625-39.921875-10.230469-12.871094-20.160156-25.4375-26.800781-38.796875-5.277344-10.410156-8.558594-21.28125-8.558594-33.28125h12c0 55.769531 91.199219 87.679688 92 198.488281zm0 0" fill="#965353"/><g fill="#da4453"><path d="m260.175781 248c-.078125 1.328125-.175781 2.65625-.175781 4s.105469 2.671875.167969 4h16.039062c-.101562-1.328125-.207031-2.648438-.207031-4s.113281-2.671875.207031-4zm0 0"/><path d="m277.976562 266-15.105468 5.464844c.386718 1.277344.753906 2.566406 1.199218 3.824218.457032 1.261719 1 2.480469 1.53125 3.703126l15.09375-5.457032c-1.09375-2.414062-1.992187-4.933594-2.71875-7.535156zm0 0"/><path d="m265.871094 224.984375c-.542969 1.261719-1.246094 2.429687-1.71875 3.734375-.457032 1.21875-.824219 2.472656-1.199219 3.722656l15.046875 5.496094c.726562-2.59375 1.625-5.113281 2.734375-7.523438zm0 0"/></g><path d="m116 164h-80c-2.207031 0-4 1.792969-4 4v304c0 .574219.136719 1.128906.359375 1.625.359375 1.621094 1.074219 3.085938 2.410156 4.0625 1.40625 1.015625 3.246094 1.527344 5.476563 1.527344 16.257812 0 76-35.941406 79.433594-53.640625.207031-.484375.328124-1.015625.328124-1.574219v-256c-.007812-2.207031-1.800781-4-4.007812-4zm0 0" fill="#965353"/><path d="m200 6c0 3.3125-2.6875 6-6 6s-6-2.6875-6-6 2.6875-6 6-6 6 2.6875 6 6zm0 0" fill="#656d78"/><path d="m200 498c0 3.3125-2.6875 6-6 6s-6-2.6875-6-6 2.6875-6 6-6 6 2.6875 6 6zm0 0" fill="#656d78"/></svg>        
        </a>
        <table class="table">
        <tr>
            <th>Nombre</th>
        </tr>
        @foreach (var categoria in Model)
        {
            @using(Html.BeginForm("Borrar","Categorias", new{ Id = categoria.Id})){
            <tr>
                <td>@categoria.Nombre</td>
                <td> 
                    <a href='@Url.Action("Editar","Categorias", new {id=categoria.Id,Nombre=categoria.Nombre})'>
                        <svg id="Capa_1" enable-background="new 0 0 512 512" height="50" viewBox="0 0 512 512" width="50" xmlns="http://www.w3.org/2000/svg"><g><path d="m13.678 455.323-11.036 21.591c-4.759 9.311-2.974 20.629 4.42 28.023 7.394 7.394 18.712 9.179 28.023 4.42l21.591-11.036z" fill="#26457d"/><path d="m337.293 85.832h140.33v37.421h-140.33z" fill="#e4fbef" transform="matrix(.707 .707 -.707 .707 193.264 -257.497)"/><path d="m435.112 126.35h25.727v37.421h-25.727z" fill="#d3effb" transform="matrix(.707 .707 -.707 .707 233.782 -274.28)"/><path d="m138.693 470.803c-.855.515-1.731.999-2.617 1.442-1.885.968-3.853 1.782-5.882 2.431-.041.021-.072.031-.113.041l-73.4 23.601-43-43 23.601-73.4c.01-.041.021-.072.041-.113.649-2.029 1.463-3.997 2.431-5.893.443-.886.927-1.751 1.442-2.606z" fill="#f1d59d"/><path d="m470.302 140.926-99.228-99.228 31.422-31.422c13.701-13.701 35.914-13.701 49.614 0l49.614 49.614c13.701 13.701 13.701 35.914 0 49.614z" fill="#df75a5"/><path d="m501.725 59.889-18.192-18.192c13.701 13.701 13.701 35.914 0 49.614l-31.422 31.422 18.192 18.192 31.422-31.422c13.7-13.7 13.7-35.913 0-49.614z" fill="#dd5790"/><path d="m377.685 101.236-304.274 304.285-4.77 4.759c-2.029-2.03-4.986-3.142-8.149-2.617l-13.856 2.308c-6.325 1.061-11.816-4.43-10.765-10.765l3.884-23.292c.443-.886.927-1.751 1.442-2.606 1.72-2.864 3.801-5.532 6.181-7.912l297.238-297.239z" fill="#ffe07d"/><path d="m443.843 167.384-297.238 297.238c-2.38 2.38-5.048 4.461-7.912 6.181-.855.515-1.731.999-2.617 1.442l-23.282 3.884c-6.336 1.051-11.826-4.44-10.765-10.765l2.308-13.856c.525-3.163-.587-6.119-2.617-8.149l4.77-4.759 304.274-304.285z" fill="#ffc250"/><path d="m377.689 101.235-309.045 309.045c2.032 2.032 3.14 4.987 2.613 8.153l-2.309 13.853c-1.055 6.332 4.434 11.821 10.766 10.766l13.853-2.309c3.166-.528 6.121.581 8.153 2.613l309.045-309.045z" fill="#ffd064"/></g></svg>
                    </a>
                </td>
            </tr>
            }
        }


        </table>
    </div> 
</div> 
